<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />

    <appender name="DAILY_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>logs/app.%d{yyyy-MM-dd-HH-mm}.log</FileNamePattern>
        </rollingPolicy>
        <encoder>
            <Pattern>${FILE_LOG_PATTERN}</Pattern>
        </encoder>
    </appender>

    <springProfile name="dev">
        <logger name="org.smartx.demo" level="DEBUG">
            <appender-ref ref="DAILY_FILE"/>
        </logger>
    </springProfile>

    <springProfile name="prod">
        <logger name="org.smartx.demo" level="INFO">
            <appender-ref ref="DAILY_FILE"/>
        </logger>
    </springProfile>

</configuration>
